@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" enctype="multipart/form-data" action="/Portfolio/EditPortfolio" method="post">
    <input type="number" class="form-control" name="PortfolioID" value="@Model.PortfolioID" hidden />
    <div class="row">
        <div class="col-md-6">
            @Html.Label("Proje Adı")
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Örn; .Net" name="Name" value="@Model.Name">
            </div>
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="col-md-6">
            @Html.Label("Proje Tag")
            <div class="form-group">
                <input type="text" placeholder="Örn; 70" class="form-control" name="Contents" value="@Model.Contents" />
            </div>
            @Html.ValidationMessageFor(x => x.Contents)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <img src="@Model.ImageUrl" class="avatar avatar-xxl rounded-circle me-2" alt="invision">
                <input type="text" placeholder="Örn; 70" class="form-control" name="ImageUrl" value="@Model.ImageUrl" hidden />
            </div>
            @Html.ValidationMessageFor(x => x.ImageUrl)
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label for="formFile" class="form-label">Image Yükle</label>
                <input class="form-control" type="file" id="formFile" name="ImageUrl">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.Label("Proje Hakkında Detay Bilgi")
                @Html.TextAreaFor(x => x.DetailInformation,10,3 ,new {@class="form-control"})
                @Html.ValidationMessageFor(x => x.DetailInformation)
            </div>
        </div>
    </div>

    <br />
    <button class="btn btn-success">Güncelle</button>
</form>
