@using EntityLayer.Concrete;
@model List<About>


@foreach (var item in Model)
{
  
    <div class="col-md-6 col-sm-6">
        <h2 class="title"> @item.Title</h2>
        <div class="col-md-5 offset-md-1" style="margin-left:-10px"><img class="avatar img-fluid mt-2" src="~/ultra_profile/images/MyCv2.jpg" width="210" heigth ="200"/></div>
        <br>
        <p>@item.Description</p>
        <p><span class="tm-info-label">Birthday</span> @item.Age</p>
        <p><span class="tm-info-label">Address</span> @item.Adress</p>
        <p><span class="tm-info-label">Phone</span>@item.Phone</p>
        <p><span class="tm-info-label">Email</span>@item.Mail</p>
    </div>
}

